<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Numbers</title>
	<link rel="stylesheet" href="css/registration_number.css">
</head>

<body>
	<div class="container">
		<div>
			<h1>Registration numbers</h1>

			<div class="message">

			</div>


			<div class="form">
				<form action="insertReg" method="post">
                    <input type="text" class="regNumberEntered" placeholder="Enter Registration Number" name="regNumber">
				    <button class="addRegNumber btn blue" type="submit">Add reg number</button>
                </form>
			</div>

			<form action="/filtering" method="post">
				<div class="filter">
				<strong>Filter By Town:</strong>
				<input type="radio" name="town" value="All">Show all
				<input type="radio" name="town" value="CY">Bellville
				<input type="radio" name="town" value="CJ">Paarl
				<input type="radio" name="town" value="CA"> Cape Town
			</div>
			</form>
			<hr>
			<div class="regNumbers">
				{{#each registration}}
				<div class="regNumber">
					{{registration}}
				</div> 
				{{/each}}
			</div>
			<div class="clearButton">
				<button class="addRegNumber btn red" type="submit">Del reg number</button>
			</div>
		</div>
	</div>
</body>

</html>